env/
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log
*.pid
*.swp
*.swo
*.bak
*.tmp
node_modules/
sites/*/private/*
sites/*/public/*
sites/assets/
sites/currentsite.txt
sites/common_site_config.json
sites/apps.txt
frappe-bench/config/
frappe-bench/logs/
frappe-bench/sites/
frappe-bench/env/
patches.txt

