# Python
*.pyc
*.pyo
__pycache__/
*.log
*.pid

# Node
node_modules/
*.lock

# Env
env/

# Bench logs and cache
logs/
patches.txt

# Ignore private and backup data
sites/*/private/*
sites/*/backups/*
sites/*/logs/*
sites/assets/
sites/currentsite.txt

# Ignore specific files not needed
*.swp
*.swo
*.tmp
*.bak
